@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --text-color: #4b5d68;
    --primary-color: #9c69e2;
    --secondary-color: #f063b8;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}
